* { 
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  html, body { 
    height: 100%;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  .Header { 
    background-color: #dc70e6; 
    display: flex;
    align-items: center;
    justify-content: left;
    height: 7%;  
    padding-left: 20px;
  }
  .HeaderText { 
    color: rgb(0, 26, 255);
    margin-left: 50px;
    font-size: 45px;         
  }
  .NavigationalHeader { 
    height: auto;
    background-color: #5edfff; 
    padding: 1rem; 
    display: flex; 
    justify-content: right; 
    align-items: center; 
  }
  .NavigationText { 
    font-family: Arial;
    line-height: 1.6;
    margin-right: 20px;   
    font-size: 20px;    
    font-weight: bold;  
    list-style-type: none; 
    display: flex; 
  }
  .NavigationText li { 
    margin-left: 1rem; 
  }
  .NavigationText a {
    text-decoration: none; 
    padding: 0.5rem 1rem; 
    transition: all 0.3s ease; 
  }
  .NavigationText a:hover { 
    background-color: #555; 
  }
  .Home {  /* Image Home */
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    max-width: 100%; 
  }
  .Home img {
    width: 100%; 
    height: auto; 
  }
  /* Courses and Topics Section */
  #CourseTopics {
    color: white;
    width: 100%;
    background-color: #be9ef1;
    min-height: 100vh;
    padding: 50px; 
  }
  #CourseTopics h2,  
  #CourseTopics h3,
  #CourseTopics p,
  #CourseTopics li {   /*  All Text in Courses and Topics */
    margin-left: 20px; 
    color: black;
    font-family: "Agrandir", sans-serif;
  }
  #CourseTopics h2 { /*Title*/
    font-size: 50px; 
  }
  #CourseTopics h3 { /*Programs and Courses*/
    font-size: 45px; 
  }
  #CourseTopics p { /*Courses and Topics Definition*/
    font-size: 35px; 
    text-align: justify;
  }
  #CourseTopics li {
    font-size: 33px; /* Adjusted font size for li */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  .dashed-line {
    border: 0;
    border-top: 2px dashed rgb(45, 4, 224);
    margin: 20px 0;
  }
  
#Contact {
    background-color: #6494d3; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .FooterText { 
    margin-right: 30px;
  }
  .School, .Email, .Number, .Back { 
    color: white;
    margin: 5px 0;
    font-size: 40px;
  }
  .School{  /* School Name Text */
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 50px;
  }
  .Email a, .Back a { 
    color: white; 
    text-decoration: underline; 
  }
  .Email a:hover, .Back a:hover { 
    color: #200be6; 
  }
  @font-face { /* Custom Fonts*/
    font-family: "Agrandir";
    src: url("Agrandir-Regular.otf");
  }
  body {
    font-family: "Agrandir", sans-serif;
  }